.rpslogo{
    border-radius: 50%;
    height: auto;
    width: auto;
    border: 0px;
}
.rpslogo img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: black;
    opacity: 90%;
}
CSSResult Skip Results Iframe
EDIT ON
html, body {
  width: auto;
  height:auto;
}

body {
    background: linear-gradient(-45deg, #00ffcc, #ff00ff, #ff9900, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.fbox{
opacity: 50%;

}
   

/* CSS */
.button-49,
.button-49:after {
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'ALTERNATE TEXT';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.button-49:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .button-49,
  .button-49:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
  }
}

html{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #082c6c;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.game{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}


.title{
  position: absolute;
  top: 0;
  font-size: 4rem;
  z-index: 2;
}


.score{
  display: flex;
  width: 30vw;
  justify-content: space-evenly;
  position: absolute;
  top: 70px;
  z-index: 1;
}

.p-count,.c-count{
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.options{
  display: flex;
  width: 50vw;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.rock, .paper, .scissor{
  padding: 0.8rem;
  width: 100px;
  border-radius: 10px;
  background: green;
  outline: none;
  border-color: green;
  border: none;
  cursor: pointer;
}

.move{
  font-size: 2rem;
  font-weight: bold;
  padding-top: 100px;
}

.reload {
  display: none ;
  margin-top: 2rem;
  padding: 1rem;
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.result{
  margin-top: 20px;
  font-size: 1.2rem;
}

@media screen and (max-width: 612px)
{
  .title{
      text-align: center;
  }
  .score{
      position: absolute;
      top: 200px;
      width: 100vw;
  }
  .options{
      width: 100vw;
  }
}
.container {
  position: relative;
  width: 50%;
}

.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .btn:hover {
  background-color: black;
}


.awesome {
  
  font-family: futura;
  font-style: italic;
  


  color:#313131;
  font-size:45px;
  font-weight: bold;
  position: absolute;
  left: 35%;
  -webkit-animation:colorchange 20s infinite alternate;
  
  
}

@-webkit-keyframes colorchange {
  0% {
    
    color: blue;
  }
  
  10% {
    
    color: #8e44ad;
  }
  
  20% {
    
    color: #1abc9c;
  }
  
  30% {
    
    color: #d35400;
  }
  
  40% {
    
    color: blue;
  }
  
  50% {
    
    color: #34495e;
  }
  
  60% {
    
    color: blue;
  }
  
  70% {
    
    color: #2980b9;
  }
  80% {
 
    color: #f1c40f;
  }
  
  90% {
 
    color: #2980b9;
  }
  
  100% {
    
    color: pink;
  }
}